@import url("https://use.typekit.net/pqd7jbp.css");
@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
@import "variables.scss";
@import "mixins.scss";


    html{
        font-family: acumin-pro, sans-serif;
        letter-spacing: 1px;
    }
    
    body{
        background:$color1;
        display: flex;
    }

    a{
        text-decoration: none;
        color: $color4;
    }

    p{
        color: $color4;
    }

    abbr{
        text-decoration: unset !important ;
    }

    h1{
        @include block();
        color: $color3;
        left: 10%;
        top: 5%;
        font-size: 3em;
        // background: $color1;
        width: 23%;

        &:hover {
            background-color: $color5;
        
        }

    }

    h2{
        color: $color2;
        position: absolute;
        left: 10%;
        font-size: 1em;
        font-weight: 100;
        top: 18%;
        background-color: none;
        
    }

    #text{
        color: $color1 !important;
    }

    .summary{
        left: 10%;
        width: 40%;
        top: 30%;
        color: #ffffff;
        @include block ();
    }

    h3{
        color: $color3;
    }

    .preamble{
        @include block();
        left: 10%;
        width: 40%;
        top: 50%;
        color: $color1;
    }


    .wrapper{
        @include sidebar();
        top: 30%;
        right: 5%;

        .select{
            color: $color3;
        }
        .archives{
            @extend .select;
        }
        .resources{
            @extend .select;
        }

    }

    li{
        color: $color4;
        list-style: none;
        color: $color4;
    }

    .explanation{
        @include block ();
        top: 84%;
    }

    .participation{
        @include block ();
        width: 70%;
        top: 122%;
    }

    .benefits{
        @include block ();
        width: 70%;
        top: 158%;
    }
    .requirements{
        @include block ();
        width: 70%;
        top: 182%;
        margin-bottom: 70px;

        
    }

    footer{
        @include footer ();
        width: 11%;
        top: 90%;
        right: 5%;
    }

    

    
    // Contraintes SASS:
    // 4 variables
    // 2 mixins
    // 2 extends
    // 2 imbrications
    // 2 sélecteurs parents
