@mixin block {
    position: absolute;
    padding: 20px;
    background: $color5;
    left: 10%;
    width: 40%;
    // border: 3px solid $color4;

}

@mixin sidebar {
    position: absolute;
    padding:20px;
    background: $color5;
    // box-shadow: 0px 0px 78px -49px rgba(0,0,0,1);
    // border: 3px solid $color4;

}

@mixin footer {
    position: absolute;
    padding: 20px;
    background: $color5;
    // border: 3px solid $color4;
}